body {
	margin: 0;
	font-family: "Inter", system-ui;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e7f6ff;
}

.wrapper {
	background: #fff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
	border-radius: 20px;

	max-width: 1080px;

	margin: 50px auto;
}

header {
	border-bottom: 1px solid #eaeaea;
	h3,
	p {
		margin: 0;
	}
}

.content {
	h1 {
		margin: 0;
	}
}

.card {
	padding: 20px;
	margin-right: 30px;

	width: 220px;

	border: 1px solid #f3f3f3;
	border-radius: 40px;

	span {
		opacity: 0.5;
		font-size: 13px;
		text-transform: uppercase;
	}

	b {
		font-size: 13px;
	}

	h5 {
		font-weight: 400;
		font-size: 14px;
	}
}

.button {
	box-sizing: border-box;
	background: #ffffff;

	border: 1px solid #f2f2f2;
	border-radius: 8px;

	height: 32px;
	width: 32px;

	cursor: pointer;
}
